<p>
  <button type="button" class="{{modifier_class}}">Standard button</button>
  <button type="button" class="{{modifier_class}}" disabled>disabled button</button>
</p>
<p>
  <button type="submit" class="{{modifier_class}}">Submit button</button>
  <button type="submit" class="{{modifier_class}}" disabled>Disabled submit button</button>
</p>
<p>
  <button type="reset" class="{{modifier_class}}">Reset button</button>
  <button type="reset" class="{{modifier_class}}" disabled>Disabled reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Input button">
  <input type="button" class="{{modifier_class}}" value="Disabled input button" disabled>
</p>
<p>
  <input type="submit" class="{{modifier_class}}" value="Input submit button">
  <input type="submit" class="{{modifier_class}}" value="Disabled input submit button" disabled>
</p>
<p>
  <input type="reset" class="{{modifier_class}}" value="Input reset button">
  <input type="reset" class="{{modifier_class}}" value="Disabled input reset button" disabled>
</p>

{# Main button #}
{% set modifier_class = 'btn-main' %}
<p>
  <button type="button" class="{{modifier_class}}">Standard button</button>
  <button type="button" class="{{modifier_class}}" disabled>disabled button</button>
</p>
<p>
  <button type="submit" class="{{modifier_class}}">Submit button</button>
  <button type="submit" class="{{modifier_class}}" disabled>Disabled submit button</button>
</p>
<p>
  <button type="reset" class="{{modifier_class}}">Reset button</button>
  <button type="reset" class="{{modifier_class}}" disabled>Disabled reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Input button">
  <input type="button" class="{{modifier_class}}" value="Disabled input button" disabled>
</p>
<p>
  <input type="submit" class="{{modifier_class}}" value="Input submit button">
  <input type="submit" class="{{modifier_class}}" value="Disabled input submit button" disabled>
</p>
<p>
  <input type="reset" class="{{modifier_class}}" value="Input reset button">
  <input type="reset" class="{{modifier_class}}" value="Disabled input reset button" disabled>
</p>

{# Second button #}
{% set modifier_class = 'btn-second' %}
<p>
  <button type="button" class="{{modifier_class}}">Standard button</button>
  <button type="button" class="{{modifier_class}}" disabled>disabled button</button>
</p>
<p>
  <button type="submit" class="{{modifier_class}}">Submit button</button>
  <button type="submit" class="{{modifier_class}}" disabled>Disabled submit button</button>
</p>
<p>
  <button type="reset" class="{{modifier_class}}">Reset button</button>
  <button type="reset" class="{{modifier_class}}" disabled>Disabled reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Input button">
  <input type="button" class="{{modifier_class}}" value="Disabled input button" disabled>
</p>
<p>
  <input type="submit" class="{{modifier_class}}" value="Input submit button">
  <input type="submit" class="{{modifier_class}}" value="Disabled input submit button" disabled>
</p>
<p>
  <input type="reset" class="{{modifier_class}}" value="Input reset button">
  <input type="reset" class="{{modifier_class}}" value="Disabled input reset button" disabled>
</p>

{# Third button #}
{% set modifier_class = 'btn-third' %}
<p>
  <button type="button" class="{{modifier_class}}">Standard button</button>
  <button type="button" class="{{modifier_class}}" disabled>disabled button</button>
</p>
<p>
  <button type="submit" class="{{modifier_class}}">Submit button</button>
  <button type="submit" class="{{modifier_class}}" disabled>Disabled submit button</button>
</p>
<p>
  <button type="reset" class="{{modifier_class}}">Reset button</button>
  <button type="reset" class="{{modifier_class}}" disabled>Disabled reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Input button">
  <input type="button" class="{{modifier_class}}" value="Disabled input button" disabled>
</p>
<p>
  <input type="submit" class="{{modifier_class}}" value="Input submit button">
  <input type="submit" class="{{modifier_class}}" value="Disabled input submit button" disabled>
</p>
<p>
  <input type="reset" class="{{modifier_class}}" value="Input reset button">
  <input type="reset" class="{{modifier_class}}" value="Disabled input reset button" disabled>
</p>

{# Fourth button #}
{% set modifier_class = 'btn-fourth' %}
<p>
  <button type="button" class="{{modifier_class}}">Standard button</button>
  <button type="button" class="{{modifier_class}}" disabled>disabled button</button>
</p>
<p>
  <button type="submit" class="{{modifier_class}}">Submit button</button>
  <button type="submit" class="{{modifier_class}}" disabled>Disabled submit button</button>
</p>
<p>
  <button type="reset" class="{{modifier_class}}">Reset button</button>
  <button type="reset" class="{{modifier_class}}" disabled>Disabled reset button</button>
</p>
<p>
  <input type="button" class="{{modifier_class}}" value="Input button">
  <input type="button" class="{{modifier_class}}" value="Disabled input button" disabled>
</p>
<p>
  <input type="submit" class="{{modifier_class}}" value="Input submit button">
  <input type="submit" class="{{modifier_class}}" value="Disabled input submit button" disabled>
</p>
<p>
  <input type="reset" class="{{modifier_class}}" value="Input reset button">
  <input type="reset" class="{{modifier_class}}" value="Disabled input reset button" disabled>
</p>
